<div class="card">
    <div class="card-body">
        <div class="row">
            {% if getdeck %}
            <div class="col-9">
                <p class="text-start">Your opponent, {{getdeck.theirname}}, was last on: 
                    <strong>
                        {{getdeck.theirDeck.name}}
                        {% if getdeck.theirFlavor.name != "none/stock" %}
                            -- {{getdeck.theirFlavor}}
                        {% endif %}
                    </strong>.
                </p>
                <p class="text-start">
                    Seen on: {{getdeck.date|date:"F d, Y"}}, by {{getdeck.user}}
                </p>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-info" _="on click set #id_{{theirdeckfield}}'s value to '{{getdeck.theirDeck.id}}' then 
                trigger change on #id_{{theirdeckfield}} then
                set #id_{{theirflavorfield}}'s value to '{{getdeck.theirFlavor.id}}'">
                set
                </button>
                <button type="button" class="btn btn-secondary" _="on click set #id_{{theirdeckfield}}'s value to '' then trigger change on #id_{{theirdeckfield}}">
                    clear
                </button>
            </div>
            {% else %}
            <p class="text-start">We've never seen this opponent before</p>
            {% endif %}
        </div>


    </div>
  </div>