<div class="card m-5">
  <div class="card-header text-center">
    <h2>
      {{currentleague.myDeck}}</h2>
      <h4>
      {% if currentleague.myFlavor.name != "none/stock" %}
        {{currentleague.myFlavor}}
      {% endif %}
      </h4> 
  </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" colspan="3">Leagues</th>
          </tr>
          <tr>
            <th scope="col">result</th>
            <th scope="col">percent</th>
            <th scope="col">number</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">5-0</th>
          <td>{{ fiveohsper|floatformat:0 }}%</td>
          <td>{{ fiveohs }}</td>
        </tr>
        <tr>
          <th scope="row">4-1</th>
          <td>{{ fouronesper|floatformat:0 }}%</td>
          <td>{{ fourones }}</td>
        </tr>
        <tr>
          <th scope="row">3-2</th>
          <td>{{ threetwosper|floatformat:0 }}%</td>
          <td>{{ threetwos }}</td>
        </tr>
        <tr>
          <th scope="row">2-3</th>
          <td>{{ twothreesper|floatformat:0 }}%</td>
          <td>{{ twothrees }}</td>
        </tr>
        <tr>
          <th scope="row">1-4</th>
          <td>{{ onefoursper|floatformat:0 }}%</td>
          <td>{{ onefours }}</td>
        </tr>  
        <tr>
          <th scope="row">0-5</th>
          <td>{{ ohfivesper|floatformat:0 }}%</td>
          <td>{{ ohfives }}</td>
        </tr>  
        <tr>
          <th scope="row" colspan="2"><small>Completed Leauges:</small></th>
          <th>{{myclosedleagues.count}}</th>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center" colspan="2">Matches</th>
        </tr>
      </thead>
      <tr>
      <th scope="row" colspan="1">Match Win %</th>
      <th>{{matchwinpercentage|floatformat:0}}%</th>
      </tr>
      <tr>
        <th scope="row">Played</th>
        <td>{{matchcount}}</td>
      </tr>
      <tr>
        <th scope="row">Won</th>
        <td>{{matcheswon}}</td>
      </tr>  
      <tr>
        <th scope="row">Lost</th>
        <td>{{matcheslost}}</td>
      </tr>  

      <thead>
        <tr>
          <th class="text-center" colspan="2">Games</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" colspan="1">Game Win %</th>
          <th>{{gamewinpercentage|floatformat:0}}%</th>
        </tr>
          <tr>
            <th scope="row">Played</th>
            <td>{{gamesplayed}}</td>

          </tr>
          <tr>
            <th scope="row">Won</th>
            <td>{{gameswon}}</td>
          </tr>
          <tr>
            <th scope="row">Lost</th>
            <td>{{gameslost}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>