{% if leagueroll %}
  <div class="row justify-content-xl-around">
    <div class="col-12 col-lg-9">
      {% for league in leagueroll %}
      <div class="card leaguecard">
        <div class="row header">
          <div class="col-1 d-flex align-items-center justify-content-center">
            <img class="header-img" src="{{ league.myDeck.image.url }}">
          </div>
          <div class="col-6 d-flex align-items-center justify-content-center">
            <b>{{ league.mtgFormat}} &#8226; {{league.myDeck}}{% if league.myFlavor.name != "none/stock" %} -- {{league.myFlavor}}{% endif %}:</b>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <span>{{league.dateCreated}}</span>
          </div>
          <div class="col-1 d-flex align-items-center justify-content-center">
            <b class="score">
              {% if league.wins == 5 %}
              5-0
              {% elif league.wins == 4 %}
                  4-1
              {% elif league.wins == 3 %}
                  3-2
              {% elif league.wins == 2 %}
                  2-3
              {% elif league.wins == 1 %}
                  1-4
              {% elif league.wins == 0 %}
                  0-5
              {% else %}
                  {{league.wins}}
              {% endif %}
            </b>
          </div>
        
        </div>
        <div class="line"></div>
        <div class="leaguecontent"> 
          <table class="hovertable">
          {% for match in league.matches.all %}
            <tr>
              <td>{{ forloop.counter }}.</td>
              <td>
                <div>{{ match.theirDeck }}{% if match.theirFlavor.name != "none/stock" %} -- {{match.theirFlavor}}{% endif %}</div>
                <div style="text-indent: 20px;"><em>{{ match.theirname }}</em></div>
              </td>
              <td>
                {% if match.didjawin == 1 %}
                    Win
                {% else %}
                    Loss 
                {% endif %}
              </td>
              <td style="min-width: 40px">
                {% if match.game1 == 1 %}
                    {% if match.game2 == 1 %}
                      2-0
                    {% else %}
                      {% if match.game3 == 1 %}
                          2-1
                      {% else %}
                          1-2
                      {% endif %}
                    {% endif %}
                {% else %}
                    {% if match.game2 == 1 %}
                      {% if match.game3 == 1 %}
                          2-1
                      {% else %}
                          1-2
                      {% endif %}
                    {% else %}
                      0-2
                    {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}  
          </table>
          <div style="margin-right: 4px;">
            <button class="ctn" name="edit" onclick="openLeaguePop()" hx-trigger="click" hx-get="{% url 'leagueedit' %}?league={{league.id}}" hx-target ="#leagueeditcontent">edit</button>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="popup leaguepop" id="leaguepopup">
        <h2>Edit League</h2>
        <div id="leagueeditcontent">
          Content here
        </div>
        <button type="button" id="cancelbutton" onclick="closeAllPops()">cancle and close</button>
      </div>
    </div>

    <div class="w-100 d-lg-none"></div>


    <!-- right card  -->
    <div class="col">
      <div class="card reportcard">
        <div class="header">
          {% if filterdeck %}
          <h2 style="text-align: center;">{{filterdeck.name}}</h2>
          {% else %}
          <h2 style="text-align: center;">All Decks</h2>
          {% endif %}
  
          {% if filterflavor %}
            <p>({{filterflavor.name}})</p>
          {% endif %}
        </div>

        <div class="line">

        </div>
        <table class="hovertable">
          <thead>
            <tr>
              <th>result</th>
              <th>percent</th>
              <th>number</th>
            </tr>
          </thead>
          <tbody class="center">
            <tr>
              <td>5-0</td>
              <td>{{ fiveohsper|floatformat:0 }}%</td>
              <td>{{ fiveohs }}</td>
            </tr>
            <tr>
              <td>4-1</td>
              <td>{{ fouronesper|floatformat:0 }}%</td>
              <td>{{ fourones }}</td>
            </tr>
            <tr>
              <td>3-2</td>
              <td>{{ threetwosper|floatformat:0 }}%</td>
              <td>{{ threetwos }}</td>
            </tr>
            <tr>
              <td>2-3</td>
              <td>{{ twothreesper|floatformat:0 }}%</td>
              <td>{{ twothrees }}</td>
            </tr>
            <tr>
              <td>1-4</td>
              <td>{{ onefoursper|floatformat:0 }}%</td>
              <td>{{ onefours }}</td>
            </tr>  
            <tr>
              <td>0-5</td>
              <td>{{ ohfivesper|floatformat:0 }}%</td>
              <td>{{ ohfives }}</td>
            </tr>  
          </tbody>

        </table>
        <div>
          <small>Completed Leagues: {{targetleagues.count}}</small>
        </div>
        <div class="line"></div>
        <table class="hovertable">
          <tr>
          <th>Match Wins</th>
          <th>{{matchwinpercentage|floatformat:0}}%</th>
          </tr>
          <tr>
            <td>Played</td>
            <td>{{matchcount}}</td>
          </tr>
          <tr>
            <td>Won</td>
            <td>{{matcheswon}}</td>
          </tr>  
          <tr>
            <td>Lost</td>
            <td>{{matcheslost}}</td>
          </tr>  
          <tbody>
            <tr>
              <th>Game Wins</th>
              <th>{{gamewinpercentage|floatformat:0}}%</th>
            </tr>
              <tr>
                <td>Played</td>
                <td>{{gamesplayed}}</td>

              </tr>
              <tr>
                <td>Won</td>
                <td>{{gameswon}}</td>
              </tr>
              <tr>
                <td>Lost</td>
                <td>{{gameslost}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

  </div>
{% else %}
  <h3>No Leagues Found</h3>
{% endif %}
