<div id="leaguerolldiv">
  Here's League Roll
</div>
{% if leagueroll %}
  {% for league in leagueroll %}
    <div class="card leaguecard">
      <div class="content row">
        <b>{{ league.mtgFormat}} &#8226; {{league.myDeck}}{% if league.myFlavor.name != "none/stock" %} -- {{league.myFlavor}}{% endif %}:</b>
        <p>
          {% if league.wins == 5 %}
          5-0
          {% elif league.wins == 4 %}
              4-1
          {% elif league.wins == 3 %}
              3-2
          {% elif league.wins == 2 %}
              2-3
          {% elif league.wins == 1 %}
              1-4
          {% elif league.wins == 0 %}
              0-5
          {% else %}
              {{league.wins}}
          {% endif %}
        </p>
      </div>
      <div class="leaguecontent">
        <ol>
          {% for match in league.matches.all|dictsort:"dateCreated" %}
            <li>
              {{ match.theirDeck }}{% if match.theirFlavor.name != "none/stock" %} -- {{match.theirFlavor}}{% endif %}
            </li>
          {% endfor %}
        </ol>

      </div>
      <div class="content row">

      </div>
    </div>
  {% endfor %}
{% else %}
  <h3>No Leagues Found</h3>
{% endif %}
