{% if specialflavor != None %}
    <option value = "{{ specialflavor.id }}">{{specialflavor.name}}</option>
    {% for flavor in listofflavors %}
        {% if flavor.name != specialflavor.name %}
            <option value="{{ flavor.id }}">{{ flavor.name }}</option>
        {% endif %}
    {% endfor %}
{% else %}
    {% if listofflavors == None %}
    <option value = "">--------</option>
    {% else %}
        {% for flavor in listofflavors %}
            <option value="{{ flavor.id }}">{{ flavor.name }}</option>
        {% endfor %}
    {% endif %}
{% endif %}
