{% for match in usermatches reversed %}
<tr>
    <td>{{ forloop.revcounter }}</td>
    <td>{{match.dateCreated}}</td>
    <td>{{match.mtgFormat}}</td>
    <td>{{match.myDeck}}</td>
    <td>{{match.myFlavor}}</td>
    <td>{{match.theirDeck}}</td>
    <td>{{match.theirFlavor}}</td>
    {% if match.didjawin == True %}
    <td>win</td>
    {% else %}
    <td>loss</td>
    {% endif %}
    {% if match.game1 == True %}
    <td>win</td>
    {% else %}
    <td>loss</td>
    {% endif %}
    {% if match.game2 == True %}
    <td>win</td>
    {% else %}
    <td>loss</td>
    {% endif %}
    {% if match.game3 == True %}
        <td>win</td>
    {% else %}
        {% if match.game3 == False %}
            <td>loss</td>
        {% else %}
            <td></td>
        {% endif %}
    {% endif %}
    <td><a href="{% url 'leaguedetail' match.league.id %}">{{match.league.id}}</a></td>
</tr>
{% endfor %}