<table class="table table-striped table-hover" id="statstable">
    <thead>
        <tr>
        <th scope="col">Meta rank</th>
        <th scope="col">Deck Name</th>
        <th scope="col">Meta Share*</th>
        <th scope="col">My Win % </th>
        <th>Wins</th>
        <th>Played</th>  
        </tr>
    </thead>
    <tbody id="tablebodyplace">
            {% if checkfilter == True and deck.mynumgames != 0 %}
            {% for deck in mytopdeckslegacy %}
                {% if deck.mynumgames != 0 %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ deck.theirDeck__name }}</td>
                        {% if deck.percentpopularity > 9 %}
                            <td>{{ deck.percentpopularity }}% <span>&#8226;</span> <small>{{ deck.popularity }} decks </small></td>
                        {% else %}
                            <td>&nbsp;{{ deck.percentpopularity }}% <span>&#8226;</span> <small>{{ deck.popularity }} deck{% if deck.popularity > 1 %}s{% endif %} </small></td>
                        {% endif %}
                        <td>{{ deck.mwp }}% &nbsp;&nbsp; </td>

                        <td>
                            {{deck.mywingames}}
                        </td>
                        <td>
                            {{ deck.mynumgames }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% else %}
            {% for deck in mytopdeckslegacy %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ deck.theirDeck__name }}</td>
                {% if deck.percentpopularity > 9 %}
                    <td>{{ deck.percentpopularity }}% <span>&#8226;</span> <small>{{ deck.popularity }} decks </small></td>
                {% else %}
                    <td>&nbsp;{{ deck.percentpopularity }}% <span>&#8226;</span> <small>{{ deck.popularity }} deck{% if deck.popularity > 1 %}s{% endif %} </small></td>
                {% endif %}
                {% if deck.mynumgames == 0 %}
                    <td>--</td>
                {% else %}
                    <td>{{ deck.mwp }}% &nbsp;&nbsp; </td>
                {% endif %}

                <td>
                    {{deck.mywingames}}
                </td>
                <td>
                    {{ deck.mynumgames }}
                </td>
            </tr>
            {% endfor %}
            {% endif %}

            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>&nbsp;<small>total: {{ num_decks }} decks</small></td>
                </tr>
            </tfoot>
        </tbody>
</table>