{% extends "main.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <h3>Forms here</h3>
  <form method="POST" id="profileupdateform">
    {% csrf_token %}
    {{p_form|crispy}}
    <button type="submit" class="btn btn-primary mt-2">Save</button>
  </form>

</div>

{% endblock content %}
