/* navbar */
nav {
  background-color: var(--highlight);
  border-bottom: 3px solid var(--primary);
  color: black;
}
/* The dropdown container */



/* Add a red background color to navbar links on hover */
.navbar a:hover{
  background-color: var(--primary);
  
}

.navbar a {
  color: black;
  border-radius: 20px;
}

a.is-active {
  color: var(--primary);
  font-weight: bold;
}

.navtabs-custom {
  border: none;
  border-top: 3px solid var(--primary);
  border-left: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
  border-radius: 5px;
}
