h2 {
  color: rgb(67, 43, 226);
}

.deck-mini-img {
  height: 22px;
  width: 25px;
  margin-right: 8px;
  margin-bottom: 5px;
}
td.ccen {
  height: 50px;
  vertical-align: middle;
  width: 10px;
  padding: 0 !important;
}

div.smalltext {
  font-size: smaller;
}

.center {
    text-align: center;
}

table {
  border-spacing: 1px;
  border-collapse: collapse;
}

table.smalltable {
  border: 0px;
  padding:0; 
  margin:0;
  border-collapse: collapse;
}

table.smalltable td {
  padding: 3px !important;
}


.supercenter {
    margin-top: 70px;
    text-align: center;
    font-size: 400%;

    border-radius: 100px;
    background: #FFFFFF;
    color : black;
    padding : 10px 15px;
    border: 3px solid #000;

}

ol.nobottom {
    margin-bottom: 0;

}

.hidden {
  display: none;
}

.right {
  text-align: right;
  float: right;
}

.smalltext {
font-size: smaller;
}

.center {
  text-align: center;
}

.thick{
  font-weight: bold;
}

.deck-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.supercenter {
  margin-top: 80px;
  text-align: center;
  font-size: 400%;

  border-radius: 100px;
  background: #FFFFFF;
  color : black;
  padding : 10px 15px;
  border: 3px solid #000;

}

.good-green{
  background-color: rgba(80, 237, 12, 0.941);
}

.float-right {
  float: right;
}

table.htmx {
  width: 50%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}


.big-text {
  font-size: large;
}