{% extends 'main.html' %} {% block content %}{% load crispy_forms_tags %}{% load static %}

<div class="content">
  <h1>Deck Edit Page</h1>
</div>
{% if user.is_staff %}
  <div class="content rowg">
    <div class="col">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Deck</th>
            <th>Format</th>
            <th>Archetype</th>
            <th>Date</th>
            <th>Varients</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for deck in Decks %}
          <tr>
            <td><img class="header-img" src="{{ deck.image.url }}" /></td>
            <td>{{deck.name}}</td>
            <td>{{deck.mtgFormat}}</td>
            <td>{{deck.archetype}}</td>
            <td>{{deck.dateCreated}}</td>
            <td>{% for flavor in deck.flavors.all %} 
              <p>{{flavor}}</p> 
              
              {% endfor%}</td>
            <td>
              <p>
                <a href="{{deck.id}}/update"><button>edit</button></a>
              </p>
              <p>
                <a href="{{deck.id}}/delete"><button>delete</button></a>
              </p>
              
              
            </td>
            
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    <div class="col">
      <div class="card leaguecard">
        <form method="POST" enctype="multipart/form-data" name="deckForm">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Deck</legend>
            <div class="line"></div>
            {{ deck_form|crispy }}
            <div class="line"></div>
            <legend>Varient (optional)</legend>
            <div>You can leave it blank if it's just a stock list.</div>
            <label class="mt-3" for="id_varient">Varient name</label>
            <div class="">
              <input class="textinput textInput form-control" id="id_varient" name="varienttext" maxlength="25">
              <input type="checkbox" id="makedefault" name="makedefault" value="0"><label for="makedefault" class="m-2">Make Default</label><br>
            </div>
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info mt-3 mb-3" type="submit" name="deckForm">
              Save Deck
            </button>
          </div>
        </form>
      </div>
      <div class="card leaguecard">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Varient (to exitsing deck)</legend>
            <div class="line"></div>
            {{ flavor_form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info mt-3" type="submit">Save Varient</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% else %}
<div class="content">
  <p>Deck Suggestion Feature Coming Soon</p>
</div>
{% endif %}

{% endblock %}