<form enctype="multipart/form-data" method="post">
  <div class="deckdoctor" id="deckdoctor" name="deckdoctor" value="1">
    <p>deck doctor here</p>
  </div>
  <input name="csrfmiddlewaretoken" type="hidden" value="Y7J8DQTyOBEugPnNa0VYV0Mw2rVDmEGSih4QgKXhLQt6rnIZt7WmWZksOhtjOO4o">
  <div class="form-group" id="div_id_mtgFormat"> 
    <label class="requiredField" for="id_mtgFormat">
      Format<span class="asteriskField">*</span> 
    </label> 
    <div> 
      <select class="select form-control" hx-ext="debug" hx-get="/listofarchetypes" hx-include="#deckdoctor" hx-target="#id_archetype" hx-trigger="load, change" id="id_mtgFormat" name="mtgFormat" required=""> <option value="">---------</option> <option selected="" value="1">Legacy</option> <option value="2">Vintage</option>
      </select> 
    </div> 
  </div> 
  <div class="form-group" id="div_id_archetype"> 
    <label class="requiredField" for="id_archetype">Archetype<span class="asteriskField">*</span></label> 
    <div> 
      <select class="select form-control" hx-get="/listofflavors" hx-target="next td" id="id_archetype" name="archetype" required="">
        <option value="na">-------</option>
        <option value="1">Tempo</option>
        <option value="4">Vial</option>
        <option value="5">Blue Control</option>
        <option value="6">Combo</option>
      </select> </div> </div> <div class="form-group" id="div_id_name"> <label class="requiredField" for="id_name">
                  Deck name<span class="asteriskField">*</span> </label> <div> <input class="textinput textInput form-control" id="id_name" maxlength="25" name="name" required="" type="text" value="Painter"> </div> </div> <div class="form-group" id="div_id_image"> <label class="requiredField" for="id_image">
                  Image<span class="asteriskField">*</span> </label> <div>
                      
                          
                              Currently: <a href="https://magictracker-files.s3.amazonaws.com/deckpics/painter22.jpg?AWSAccessKeyId=AKIA4R35FHIYDJYVKCMF&amp;Signature=qD8Wkh9s%2Bi897ZFq33lG5o6xBWs%3D&amp;Expires=1670223286">deckpics/painter22.jpg</a><br>
  Change:
  <input accept="image/*" class="clearablefileinput form-control-file" id="id_image" name="image" type="file"> </div> </div>
  <input type="submit" value="Save">
  </form>