{% extends 'main.html' %} {% block content %} {% load static %}


<div class="containter px-3">
  <div class="row text-center py-4">
    <div class="banner">
      <h1>MTGO Data Tracker</h1>
      <h3>Like a spreadsheet, but better</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <a href="{% url 'league' %}"><img class="homebox" src="{% static 'leagues/images/grindstone.jpg' %}"></a>
      <div class="text">Add League Matches</div>
    </div>
    <div class="col">
      <a href="{% url 'data' %}"><img class="homebox" src="{% static 'leagues/images/orcish.jpg' %}"></a>
      <div class="text">Data Analysis</div>
    </div>
  </div>
  <div class="row py-4">
    <div class="better">
      <h2>Better than a spreadsheet</h2>
      <p>
        If you play a lot of magic on mtgo, it can be useful to keep track of your results. Fun too. This website is dedicated to helping you keep track of your mtgo league results. It will keep track of your league results (i.e. how many 5-0s you get, etc.), your specific matchup win percentages, and more.
      </p>
      <p>
        See and compare data with other users.
      </p>
    </div>
  </div>



</div>

  
  
  <div class="content">

  </div>
  
  <div class="content">

  </div>
</div>




{% endblock %}
