{% extends 'main.html' %} {% block content %} {% load crispy_forms_tags %}
<h2 class="center my-4">League Detail Page</h2>

<div class="d-flex justify-content-center">
    <div class="card m-2 league-card">
        <div class="card-header center">
            <div class="row">
                <div class="col-4">
                 <img class="rounded-circle deck-mini-img" src="{{ league.myDeck.image.url }}" />
                    <b>{{ league.mtgFormat}} &#8226; {{league.myDeck}}</b>
                </div>
                <div class="col-3">
                 <span class="text-muted mr-2 center">{{ league.dateCreated|date:"F d, Y" }}</span>
                </div>
                <div class="col-3">
                 as: &nbsp {{ league.mtgoUserName }}
                </div>
                <div class="col">
                 {% if league.wins == 5 %}
                    5-0
                 {% elif league.wins == 4 %}
                    4-1
                 {% elif league.wins == 3 %}
                    3-2
                 {% elif league.wins == 2 %}
                    2-3
                 {% elif league.wins == 1 %}
                    1-4
                 {% elif league.wins == 0 %}
                    0-5
                 {% else %}
                    {{league.wins}}
                 {% endif %}
                 
                </div>
              </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-3 center">
                    <h2>
                        {{ league.myDeck }}{% if league.myFlavor.name != "none/stock" %} -- {{league.myFlavor}}{% endif %}
                    </h2>
                    <img class="rounded-circle deck-img" src="{{ league.myDeck.image.url }}" />
                    </div>
                    <div class="col-2">
                    <div class="supercenter">
                        {% if wincount == 5 %}
                            5-0
                        {% elif wincount == 4 %}
                            4-1
                        {% elif wincount == 3 %}
                            3-2
                        {% elif wincount == 2 %}
                            2-3
                        {% elif wincount == 1 %}
                            1-4
                        {% elif wincount == 0 %}
                            0-5
                        {% else %}
                            {{league.wins}}
                        {% endif %}
                    </div>
                    </div>
                    <div class="col-7">
                    <div class="center">
                        <ol class="nobottom">
                            {% for match in league.matches.all %}
                                <div class="table-responsive-sm">
                                <table class="table table-hover table-borderless smalltable">
                                    <tr>
                                        <td class="ccen" style="width: 5%">{{ forloop.counter }}.</td>
                                        <td style="width: 75%">
                                            <div class="center">{{ match.theirDeck }}{% if match.theirFlavor.name != "none/stock" %} -- {{match.theirFlavor}}{% endif %}</div>
                                            <div class="smalltext center"><em>{{ match.theirname }}</em></div>
                                        </td>
                                        <td class="ccen" style="width: 10%">
                                            {% if match.didjawin == 1 %}
                                            Win
                                            {% else %}
                                            Loss 
                                            {% endif %}
                                        </td>
                                        <td class="ccen" style="width: 10">
                                            {% if match.game1 == 1 %}
                                            {% if match.game2 == 1 %}
                                                2 -0
                                            {% else %}
                                                {% if match.game3 == 1 %}
                                                    2-1
                                                {% else %}
                                                    1-2
                                                {% endif %}
                                            {% endif %}
                                            {% else %}
                                            {% if match.game2 == 1 %}
                                                {% if match.game3 == 1 %}
                                                    2-1
                                                {% else %}
                                                    1-2
                                                {% endif %}
                                            {% else %}
                                                0-2
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                                </div>
                            {% endfor %}       
                        </ol>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col d-flex justify-content-center">
    <div class="card m-2 league-card">
        <div class="card-header center">
            Edit this League
        </div>
        <div class="card-body center">
            <div class="container">
                <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary btn-lg" name="edit" _="on click toggle .hidden on #editleague">change match info</button>
                </div>
                <div class="col-sm">
                    <a href="{% url 'leaguedelete' league.id %}" class="btn btn-danger btn-lg" name="delete">delete league</a>                
                </div>
                <div class="col-sm">
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-lg" name="cancel">cancel / take me home</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col d-flex justify-content-center">
    <div id="editleague" class="hidden" style="width: 75rem;">
        <h2 class="center">Edit:</h2>
        {% include 'matchform.html' %}
    </div>
</div>


{% endblock %}
