<div class="container">
  <div class="card mb-2">
    <div class="card-body">
      <h4 class="card-title center">{{currentleague.myDeck}} 
        {% if currentleague.myFlavor.name != "none/stock" %}
          {{currentleague.myFlavor}}
        {% endif %}
        <span class="text-muted"> started on </span> {{currentleague.date}}</h4>
      <!-- match form -->
      <form method="POST">
        {% csrf_token %} {{ matchformset.management_form }}
        <table class="table table-hover table-borderless">
          {% for form in matchformset %} {% if forloop.first %}
          <thead>
            <tr>
              <th>#</th>
              {% for field in form.visible_fields %}
              <th class="center">
                {% if field.name == "game1" %}
                <span title="These are games 1, 2, and 3. Tick the box if you won that game">1</span>
                {% elif field.name == "game2" %}
                <span title="These are games 1, 2, and 3. Tick the box if you won that game">2</span>
                {% elif field.name == "game3" %}
                <span title="These are games 1, 2, and 3. Tick the box if you won that game">3</span>
                {% else %}
                  {{ field.label }}
                {% endif %}
              </th>
              {% endfor %}
            </tr>
          </thead>
          {% endif %}
          <tbody>
            <tr>
              <td>{{ forloop.counter }}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              </td>
              {% for field in form.visible_fields %}
              <td class="center">
                {% if field.name == "dateCreated" %}
                  <button type='button' _="on click toggle .hidden on me then toggle .hidden on next .hidden">date</button>
                  {{ field.errors.as_ul }}
                {% elif field.name == "theirArchetype" %} 
                  <button type='button' _="on click toggle .hidden on me then toggle .hidden on next .hidden">Archetype</button>
                  {{ field.errors.as_ul }}
                  {{ field }}
                {% elif field.name == "theirname" %}
                  {{ field.errors.as_ul }}
                  {{ field }}
                  <datalist id="usernamelist">
                    {% for match in usernamelist %}
                      <option value="{{match.theirname}}"></option>
                    {% endfor %}
                  </datalist>
                {% else %}
                  {{ field.errors.as_ul }} 
                  {{ field }} 
                {% endif %}
                {{field.help_text}}
              </td>
              {% endfor %}
            </tr>
          </tbody>
          {% endfor %}
        </table>
        <div class="container">
          <div class="row mt-2">
            <div class="col-9 center mt-2" id="namereceptor">
              <small><p class="text-start">Date and Archetype are filled out automatically, but you can manually change them if you want to.</p></small>
              <small><p class="text-start">Your opponent's name will be automatically checked against our database, to see if we have a record of them.</p></small>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-danger" style="float: right;" name="drop">drop</button>
              <button type="submit" class="btn btn-primary me-2" style="float: right;" name="matchformset">save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
