{% extends 'main.html' %} {% block content %} 	


<div class="text-center mt-2"><h3>Meta Stats for MTGO Legacy Leagues</h3></div>

<div class="card" name="searchtools">
    <div class="card-body">
        <h5 class="card-title">Seach Tools:</h5>
        <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Data for deck:</h5>
                    <select id="deckname" name="deckname" hx-trigger="load, change delay:300ms" hx-get="{% url 'statstable' %}" hx-target="#metatable"  hx-include="#timeframe, #filteroutunplayed, #varientselect">
                    <option value={{filterdeck.id}} selected>{{filterdeck}}</option>
                    {% for deck in mydecks %}
                        <option value={{deck.id}}>{{deck.name}}</option>
                    {% endfor %}
                    </select>
                    <div hx-trigger="load, change from:#deckname" hx-get="{% url 'listofflavors' %}" hx-include="#deckname" hx-swap="innerHTML" hx-target="#varientselect" >
                      <select id="varientselect" name="varientselect" hx-get="{% url 'statstable' %}" hx-target="#metatable" hx-include="#deckname, #filteroutunplayed, #timeframe">
                        <option value="0" selected>All Varients</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Data for the past:</h5>
                    <select id="timeframe" name="timeframe" hx-get="{% url 'statstable' %}" hx-target="#metatable" hx-include="#deckname, #filteroutunplayed, #varientselect">
                        <option value=7>One Week</option>
                        <option value=14>Two Weeks</option>
                        <option value=21>Three Weeks</option>
                        <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
                        <option value=30>One Month</option>
                        <option value=60>Two Months</option>
                        <option value=90 selected>Three Months</option>
                        <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
                        <option value=180>Six Months</option>
                        <option value=365>One Year</option>
                        <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
                        <option value=90000>All Time</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <input class="form-check-input" type="checkbox" name="checkbox" value="8" id="filteroutunplayed" hx-get="{% url 'statstable' %}" hx-target="#metatable" hx-include="#timeframe, #deckname, #varientselect">
                        <label class="form-check-label" for="filteractivedecks"><small>Hide decks I haven't played against</small> </label> 
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row justify-content-center">
  <div id="metatable">
    table here
  </div>

  <div class="d-none d-lg-block" id="table50stats">
    50 card here
  </div>
</div>



<small>* meta numbers are aggrigated from all user's and all matches's reported opponents</small>
<script type="text/hyperscript">
  behavior Sortable
    on click from <th/>
      -- get all the headers and the index of the column
      set headers to <th/> in me
      set col to headers.indexOf(target)
      
      -- get the table body and the rows as an array
      set tbody to the first <tbody/> in me
      set rowArray to (<tr/> in tbody) as Array

      -- if this is a first click on this header
      -- clear the data-ascending attribute on any other header
      if target @data-ascending is null
        remove @data-ascending from headers
      end
      
      -- sort the array depending on the ascending header
      if target @data-ascending is 'true'
        set target @data-ascending to 'false'
        rowArray.sort(\ row1, row2 -> (row2.children[col].innerText) - (row1.children[col].innerText) )
        log "test4 sucess"
      else
        set target @data-ascending to 'true'
        rowArray.sort(\ row1, row2 -> (row1.children[col].innerText) - (row2.children[col].innerText) ) 
        log "test5 sucess"     
      end
      
      -- merge back into the tbody
      for row in rowArray
        tbody.append(row)
      end
    end  
  end
</script>
<script>
    // Quick and simple export target #table_id into a csv
  function download_table_as_csv(table_id, separator = ',') {
      // Select rows from table_id
      var rows = document.querySelectorAll('table#' + table_id + ' tr');
      // Construct csv
      var csv = [];
      for (var i = 0; i < rows.length; i++) {
          var row = [], cols = rows[i].querySelectorAll('td, th');
          for (var j = 0; j < cols.length; j++) {
              // Clean innertext to remove multiple spaces and jumpline (break csv)
              var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
              // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
              data = data.replace(/"/g, '""');
              // Push escaped string
              row.push('"' + data + '"');
          }
          csv.push(row.join(separator));
      }
      var csv_string = csv.join('\n');
      // Download it
      var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
      var link = document.createElement('a');
      link.style.display = 'none';
      link.setAttribute('target', '_blank');
      link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
      link.setAttribute('download', filename);
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
  }
</script>
{% endblock content %}
