<table class="table">
    <thead>
    <tr>
    <th>#</th>
    <th>Date</th>
    <th>their user name</th>
    <th>Their Archetype</th>
    <th>their deck</th>
    <th>variant</th>
    <th>one</th>
    <th>two</th>
    <th>three</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>
    <input id="id_matches-0-id" name="matches-0-id" type="hidden">
    <input id="id_matches-0-league" name="matches-0-league" type="hidden" value="15">
    <input id="id_matches-0-date" max="2022-06-26" name="matches-0-date" type="date" value="2022-06-26">
    </td>
    <td>
    <input class="redtest2" id="id_matches-0-theirname" name="matches-0-theirname" type="text">
    </td>
    <td>
    <select id="id_matches-0-theirArchetype" name="matches-0-theirArchetype">
    <option selected="" value="">---------</option>
    <option value="1">Vial</option>
    <option value="2">Tempo</option>
    <option value="3">Tinker</option>
    <option value="4">Aggro</option>
    <option value="5">Graveyard</option>
    <option value="6">Land</option>
    <option value="7">Midrange/Control</option>
    <option value="8">non-Blue</option>
    <option value="9">Permanent Combo</option>
    <option value="10">Spell Combo</option>
    <option value="11">Stompy</option>
    </select>
    </td>
    <td>
    <select hx-get="/listofflavors" hx-target="closest-flavor" id="id_matches-0-theirDeck" name="matches-0-theirDeck" autocompleted="">
    <option selected="" value="">---------</option>
    <option value="1">Death and Taxes</option>
    <option value="2">Goblins</option>
    <option value="3">Delver</option>
    <option value="4">Esper</option>
    <option value="5">Izzit</option>
    <option value="7">Stasis</option>
    <option value="8">Death's Shadow</option>
    <option value="9">Humans2</option>
    <option value="10">Humans3</option>
    </select>
    </td>
    <td>
    <select class="flavor" id="id_matches-0-theirFlavor" name="matches-0-theirFlavor">
    <option selected="" value="">---------</option>
    </select>
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-0-game1" name="matches-0-game1" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-0-game2" name="matches-0-game2" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-0-game3" name="matches-0-game3" type="checkbox">
    </td>
    <td>
    <input id="id_matches-0-id" name="matches-0-id" type="hidden">
    </td>
    <td>
    <input id="id_matches-0-league" name="matches-0-league" type="hidden" value="15">
    </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
    <td>2</td>
    <td>
    <input id="id_matches-1-id" name="matches-1-id" type="hidden">
    <input id="id_matches-1-league" name="matches-1-league" type="hidden" value="15">
    <input id="id_matches-1-date" max="2022-06-26" name="matches-1-date" type="date" value="2022-06-26">
    </td>
    <td>
    <input class="redtest2" id="id_matches-1-theirname" name="matches-1-theirname" type="text">
    </td>
    <td>
    <select id="id_matches-1-theirArchetype" name="matches-1-theirArchetype">
    <option selected="" value="">---------</option>
    <option value="1">Vial</option>
    <option value="2">Tempo</option>
    <option value="3">Tinker</option>
    <option value="4">Aggro</option>
    <option value="5">Graveyard</option>
    <option value="6">Land</option>
    <option value="7">Midrange/Control</option>
    <option value="8">non-Blue</option>
    <option value="9">Permanent Combo</option>
    <option value="10">Spell Combo</option>
    <option value="11">Stompy</option>
    </select>
    </td>
    <td>
    <select hx-get="/listofflavors" hx-target="closest-flavor" id="id_matches-1-theirDeck" name="matches-1-theirDeck">
    <option selected="" value="">---------</option>
    <option value="1">Death and Taxes</option>
    <option value="2">Goblins</option>
    <option value="3">Delver</option>
    <option value="4">Esper</option>
    <option value="5">Izzit</option>
    <option value="7">Stasis</option>
    <option value="8">Death's Shadow</option>
    <option value="9">Humans2</option>
    <option value="10">Humans3</option>
    </select>
    </td>
    <td>
    <select class="flavor" id="id_matches-1-theirFlavor" name="matches-1-theirFlavor">
    <option selected="" value="">---------</option>
    </select>
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-1-game1" name="matches-1-game1" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-1-game2" name="matches-1-game2" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-1-game3" name="matches-1-game3" type="checkbox">
    </td>
    <td>
    <input id="id_matches-1-id" name="matches-1-id" type="hidden">
    </td>
    <td>
    <input id="id_matches-1-league" name="matches-1-league" type="hidden" value="15">
    </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
    <td>3</td>
    <td>
    <input id="id_matches-2-id" name="matches-2-id" type="hidden">
    <input id="id_matches-2-league" name="matches-2-league" type="hidden" value="15">
    <input id="id_matches-2-date" max="2022-06-26" name="matches-2-date" type="date" value="2022-06-26">
    </td>
    <td>
    <input class="redtest2" id="id_matches-2-theirname" name="matches-2-theirname" type="text">
    </td>
    <td>
    <select id="id_matches-2-theirArchetype" name="matches-2-theirArchetype">
    <option selected="" value="">---------</option>
    <option value="1">Vial</option>
    <option value="2">Tempo</option>
    <option value="3">Tinker</option>
    <option value="4">Aggro</option>
    <option value="5">Graveyard</option>
    <option value="6">Land</option>
    <option value="7">Midrange/Control</option>
    <option value="8">non-Blue</option>
    <option value="9">Permanent Combo</option>
    <option value="10">Spell Combo</option>
    <option value="11">Stompy</option>
    </select>
    </td>
    <td>
    <select hx-get="/listofflavors" hx-target="closest-flavor" id="id_matches-2-theirDeck" name="matches-2-theirDeck">
    <option selected="" value="">---------</option>
    <option value="1">Death and Taxes</option>
    <option value="2">Goblins</option>
    <option value="3">Delver</option>
    <option value="4">Esper</option>
    <option value="5">Izzit</option>
    <option value="7">Stasis</option>
    <option value="8">Death's Shadow</option>
    <option value="9">Humans2</option>
    <option value="10">Humans3</option>
    </select>
    </td>
    <td>
    <select class="flavor" id="id_matches-2-theirFlavor" name="matches-2-theirFlavor">
    <option selected="" value="">---------</option>
    </select>
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-2-game1" name="matches-2-game1" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-2-game2" name="matches-2-game2" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-2-game3" name="matches-2-game3" type="checkbox">
    </td>
    <td>
    <input id="id_matches-2-id" name="matches-2-id" type="hidden">
    </td>
    <td>
    <input id="id_matches-2-league" name="matches-2-league" type="hidden" value="15">
    </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
    <td>4</td>
    <td>
    <input id="id_matches-3-id" name="matches-3-id" type="hidden">
    <input id="id_matches-3-league" name="matches-3-league" type="hidden" value="15">
    <input id="id_matches-3-date" max="2022-06-26" name="matches-3-date" type="date" value="2022-06-26">
    </td>
    <td>
    <input class="redtest2" id="id_matches-3-theirname" name="matches-3-theirname" type="text">
    </td>
    <td>
    <select id="id_matches-3-theirArchetype" name="matches-3-theirArchetype">
    <option selected="" value="">---------</option>
    <option value="1">Vial</option>
    <option value="2">Tempo</option>
    <option value="3">Tinker</option>
    <option value="4">Aggro</option>
    <option value="5">Graveyard</option>
    <option value="6">Land</option>
    <option value="7">Midrange/Control</option>
    <option value="8">non-Blue</option>
    <option value="9">Permanent Combo</option>
    <option value="10">Spell Combo</option>
    <option value="11">Stompy</option>
    </select>
    </td>
    <td>
    <select hx-get="/listofflavors" hx-target="closest-flavor" id="id_matches-3-theirDeck" name="matches-3-theirDeck">
    <option selected="" value="">---------</option>
    <option value="1">Death and Taxes</option>
    <option value="2">Goblins</option>
    <option value="3">Delver</option>
    <option value="4">Esper</option>
    <option value="5">Izzit</option>
    <option value="7">Stasis</option>
    <option value="8">Death's Shadow</option>
    <option value="9">Humans2</option>
    <option value="10">Humans3</option>
    </select>
    </td>
    <td>
    <select class="flavor" id="id_matches-3-theirFlavor" name="matches-3-theirFlavor">
    <option selected="" value="">---------</option>
    </select>
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-3-game1" name="matches-3-game1" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-3-game2" name="matches-3-game2" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-3-game3" name="matches-3-game3" type="checkbox">
    </td>
    <td>
    <input id="id_matches-3-id" name="matches-3-id" type="hidden">
    </td>
    <td>
    <input id="id_matches-3-league" name="matches-3-league" type="hidden" value="15">
    </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
    <td>5</td>
    <td>
    <input id="id_matches-4-id" name="matches-4-id" type="hidden">
    <input id="id_matches-4-league" name="matches-4-league" type="hidden" value="15">
    <input id="id_matches-4-date" max="2022-06-26" name="matches-4-date" type="date" value="2022-06-26">
    </td>
    <td>
    <input class="redtest2" id="id_matches-4-theirname" name="matches-4-theirname" type="text">
    </td>
    <td>
    <select id="id_matches-4-theirArchetype" name="matches-4-theirArchetype">
    <option selected="" value="">---------</option>
    <option value="1">Vial</option>
    <option value="2">Tempo</option>
    <option value="3">Tinker</option>
    <option value="4">Aggro</option>
    <option value="5">Graveyard</option>
    <option value="6">Land</option>
    <option value="7">Midrange/Control</option>
    <option value="8">non-Blue</option>
    <option value="9">Permanent Combo</option>
    <option value="10">Spell Combo</option>
    <option value="11">Stompy</option>
    </select>
    </td>
    <td>
    <select hx-get="/listofflavors" hx-target="closest-flavor" id="id_matches-4-theirDeck" name="matches-4-theirDeck">
    <option selected="" value="">---------</option>
    <option value="1">Death and Taxes</option>
    <option value="2">Goblins</option>
    <option value="3">Delver</option>
    <option value="4">Esper</option>
    <option value="5">Izzit</option>
    <option value="7">Stasis</option>
    <option value="8">Death's Shadow</option>
    <option value="9">Humans2</option>
    <option value="10">Humans3</option>
    </select>
    </td>
    <td>
    <select class="flavor" id="id_matches-4-theirFlavor" name="matches-4-theirFlavor">
    <option selected="" value="">---------</option>
    </select>
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-4-game1" name="matches-4-game1" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-4-game2" name="matches-4-game2" type="checkbox">
    </td>
    <td>
    <input class="largerCheckbox" id="id_matches-4-game3" name="matches-4-game3" type="checkbox">
    </td>
    <td>
    <input id="id_matches-4-id" name="matches-4-id" type="hidden">
    </td>
    <td>
    <input id="id_matches-4-league" name="matches-4-league" type="hidden" value="15">
    </td>
    </tr>
    </tbody>
    </table>