{% extends 'main.html' %} {% block content %} {% load crispy_forms_tags %}
<h1>test</h1>

<script type="text/hyperscript">
  behavior Sortable
    on click from <th/>
      -- get all the headers and the index of the column
      set headers to <th/> in me
      set col to headers.indexOf(target)
      
      -- get the table body and the rows as an array
      set tbody to the first <tbody/> in me
      set rowArray to (<tr/> in tbody) as Array

      -- if this is a first click on this header
      -- clear the data-ascending attribute on any other header
      if target @data-ascending is null
        remove @data-ascending from headers
        log "test1 sucess"
      end
      
      -- sort the array depending on the ascending header
      if target @data-ascending is 'true'
        set target @data-ascending to 'false'
        if the target's @data-numeric is "true"
          rowArray.sort(\ row1, row2 -> row1.children[col].innerText as Int <
                                        row2.children[col].innerText as Int )
                                        log "test2 data-numeric"
        otherwise              
          rowArray.sort(\ row1, row2 -> row1.children[col].innerText <
                                        row2.children[col].innerText )
                                        log "test3 NOT data-numeric"
        end
      else
        set target @data-ascending to 'true'
        if the target's @data-numeric is "true"
          rowArray.sort(\ row1, row2 -> row1.children[col].innerText as Int >
                                        row2.children[col].innerText as Int )
                                        log "test4 data-numeric"
        otherwise              
          rowArray.sort(\ row1, row2 -> row1.children[col].innerText >
                                        row2.children[col].innerText )
                                        log "test5 NOT data-numeric"

        end
      end
      
      -- merge back into the tbody
      for row in rowArray
        tbody.append(row)
      end
    end  
  end
</script>
    
<table id="downtable" class="htmx" _="install Sortable">
  <thead>
    <tr>
      <th>
        Col 1
      </th>
      <th>Col 2</th>
      <th>
        Col 3
      </th>
    </tr>
  </thead>
  <tbody id="contents">
    <tr><td>E</td><td>1</td><td>2</td></tr>
    <tr><td>B</td><td>4</td><td>4</td></tr>
    <tr><td>C</td><td>2</td><td>1</td></tr>
    <tr><td>A</td><td>3</td><td>2</td></tr>
  </tbody>
</table>



  <button _="on click toggle .big-text">
      Toggle the "big-text" class on me on click
  </button>


<div class="card m-2">
  <div class="card-body">
    {% include 'partials/statstable.html' %}
  </div>
</div>


<a href="#" onclick="download_table_as_csv('downtable');">Download as CSV</a>
<script>
    // Quick and simple export target #table_id into a csv
  function download_table_as_csv(table_id, separator = ',') {
      // Select rows from table_id
      var rows = document.querySelectorAll('table#' + table_id + ' tr');
      // Construct csv
      var csv = [];
      for (var i = 0; i < rows.length; i++) {
          var row = [], cols = rows[i].querySelectorAll('td, th');
          for (var j = 0; j < cols.length; j++) {
              // Clean innertext to remove multiple spaces and jumpline (break csv)
              var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
              // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
              data = data.replace(/"/g, '""');
              // Push escaped string
              row.push('"' + data + '"');
          }
          csv.push(row.join(separator));
      }
      var csv_string = csv.join('\n');
      // Download it
      var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
      var link = document.createElement('a');
      link.style.display = 'none';
      link.setAttribute('target', '_blank');
      link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
      link.setAttribute('download', filename);
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
  }
</script>






{% endblock %}