<table class="styled-table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Deck</th>
      <th>Format</th>
      <th>Archetype</th>
      <th>Date</th>
      <th>Varients</th>
      {% if user.is_staff %}
      <th>Edit</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for deck in Decks %}
    <tr>
      <td><img class="header-img" src="{{ deck.image.url }}"></td>
      <td>{{deck.name}}</td>
      <td>{{deck.mtgFormat}}</td>
      <td>{{deck.archetype}}</td>
      <td>{{deck.dateCreated|date:"SHORT_DATE_FORMAT"}}</td>
      <td>{% for flavor in deck.flavors.all %} 
        <p>{{flavor}}</p> 
        {% endfor%}</td>
      {% if user.is_staff %}
      <td>
        <p>
          <a href="{{deck.id}}/update"><button class="button">edit</button></a>
        </p>
        <p>
          <a href="{{deck.id}}/delete"><button class="button deletebutton">delete</button></a>
        </p>
      </td>
      {% endif %}
      
    </tr>
    {% endfor %}
  </tbody>

</table>