{% if allvarients %}
  <option value="0">All Varients</option>
{% endif %}

{% if specialflavor %}
    <option value = "{{ specialflavor.id }}" selected>{{specialflavor.name}}</option>
{% endif %}

{% if currentflavor %}
    <option value = "{{ currentflavor.id }}">{{currentflavor.name}}</option>
{% endif %}


{% if listofflavors %}
  {% for flavor in listofflavors %}
    {% if flavor != currentflavor %}
      <option value="{{ flavor.id }}">{{ flavor.name }}</option>
    {% endif %}
  {% endfor %}
{% else %}
  <option value="{{ flavor.id }}">-------</option>
{% endif %}